@mixin flex-column-space-between() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

$primary-color: rgb(114, 80, 114);
$color1: #c19ab7;
$color2: #9c95dc;
$color3: #228cdb;
$color4: #0b7189;
$color5: #170a1c;
